button {
    margin-top: 25px;
    height: 2rem;
    width: 5.5rem;
    background-color: rgb(190, 37, 37);
    color: white;
    float: left;
    box-shadow: inset -1px -1px 4px rgb(44, 43, 43);
    border-radius: 6px;
    font-size: 13px;
}